@model IEnumerable<Alumno>

@{
    ViewData["Title"] = "Información de Alumnos";
    //Layout = "_Layout";
    Layout = "_LayoutSimple";
}


<strong>Desde vista parcial</strong>

<partial name="ListaObjetosEscuela" >

<p>Es otro párrafo</p>