@model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Información de Asignaturas";
    //Layout = "_Layout";
    Layout = "_LayoutSimple";
}


<strong>Desde vista parcial</strong>

<partial name="ListaObjetosEscuela" >


<p>Es otro párrafo</p>